<launch>
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
    <param name="port"         type="string" value="/dev/port2"/>
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="laser_frame_01"/>
    <param name="angle_fixed"  type="bool"   value="true"/>
    <param name="low_exposure"  type="bool"   value="false"/>
    <param name="heartbeat"    type="bool"   value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.08" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="samp_rate"    type="int"    value="4"/>
    <param name="frequency"    type="double" value="7"/>
    <param name ="topic" type = "string" value = "/dashgo/scan_1"/>
  </node>
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
    args="0.0 0.0 0.2 0.0 0.0  0.0 /base_footprint /laser_frame 40" /> -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser1"
    args="0.0 0.0 0.755 0.0 0.0  0.0 base_footprint /laser_frame_01 40" />
</launch>
